body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth; 
}

header {
    margin: 20px;
}
 nav a {
     font-size: 24px;
     font-weight: 400px;
     text-decoration: none;
     padding: 8px 16px 8px 16px;
 }

 a:hover {
    text-decoration: underline;
 }

 button {
     background-color: black;
     color: white;
     border-radius: 10px;
     font-size: 18px;
     font-weight: 700;
     border: none;
     padding: 14px 24px 16px 24px;
     cursor: pointer;
 }

.manish {
    font-size: 30px;
    color: blue;
}